* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .squad,
  .clan,
  .subscribe {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .squad {
    background-image: url('https://www.wallpapertip.com/wmimgs/62-624720_pubg-mobile-squad-wallpaper-hd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .clan {
    background-image: url('https://1.bp.blogspot.com/-Z4iqGQz6Zpo/X0fAKpQWdCI/AAAAAAAABH4/tFoD42IkVB0xkrdxXvOl8g8kvPgfkTXgwCLcBGAsYHQ/s984/CrZ%2BGaming1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .subscribe {
    background-image: url('https://st4.depositphotos.com/16775192/24052/v/600/depositphotos_240520392-stock-illustration-poster-and-phrase-from-the.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }